/*
# Urbane 2015.
# Pluto data viewer
*/

html, body, #gmaps {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 10px;
}

#gmaps {
    z-index: 0;
}

.bgStyle{
   padding: 5px;
   background-color: rgba(255,255,255,0.5);
   border-radius: 5px;
   border: 1px solid #bfbfbf;
}

#mainMenu{
    position: fixed;
    width: 400px;
    top: 5px;
    left:5px;
    z-index: 10;
}

#renderMenu{
    position: fixed;
    top: 5px;
    right:5px;
    z-index: 10;
}

.export {
    width: 175px;
}


#cards{
    position: fixed;
    top: 50px;
    left:5px;
}

.card{
    width: 400px;
    height: 250px;
    margin-bottom: 5px;
}

.filter{
    width: 250px;
    height: 600px;
    margin-bottom: 5px;
}

.slider-track {
    background: gray;
}

.slider-horizontal {
    margin-left: 10px;
    margin-bottom: 10px;
}

.leftSpace{
    margin-left: 5px;
}

.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

#pathSelector, #lineSelector, #busSelectorCompare,#renderFunctionSelector, #propSelector, #cscale{
    display: inline-block;
    vertical-align: middle;
}

.selected {
    font-weight: bold;
}

#closeCard{
    float:right;
}

.x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}