/*
# Urbane 2015.
# Pluto data viewer
*/

html, body, #gmaps {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

#gmaps {
    z-index: 0;
}

.bgStyle{
   padding: 5px;
   background-color: rgba(255,255,255,0.5);
   border-radius: 5px;
   border: 1px solid #bfbfbf;
}

#mainMenu{
    position: fixed;
    width: 400px;
    top: 5px;
    left:5px;
    z-index: 10;
}

#renderMenu{
    position: fixed;
    top: 5px;
    right:5px;
    z-index: 10;
    height: 80px;
    font-size: 12px;
}

.export {
    width: 175px;
}


#cards{
    position: fixed;
    top: 50px;
    left:5px;
}

.card{
    width: 400px;
    height: 370px;
    margin-bottom: 5px;
}

.filter{
    width: 250px;
    height: 750px;
    margin-bottom: 5px;
}

.slider-track {
    background: gray;
}

.slider-horizontal {
    margin-left: 10px;
    margin-bottom: 10px;
}

.leftSpace{
    margin-left: 5px;
}

.topSpace{
    margin-top: 5px;
}

.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

.popup-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

#pathSelector, #lineSelector, #busSelectorCompare,#renderFunctionSelector, #propSelector, #cscale{
    display: inline-block;
    vertical-align: middle;
}

.selected {
    font-weight: bold;
}

#closeCard{
    float:right;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis g {
  display: inline;
}